.modal2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background: #fff;
  color: #000;
  border-radius: 30px;
  box-shadow: 0 8px 28px rgba(0,0,0,0.12);
  padding: 24px;
  z-index: 9999;
}

#thank {
  margin-bottom: 50px;
}

.thank-text {
  font-size: 18px;
  color: black;
  margin-bottom: 50px;
}

.modal-thank {
  background: white;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  position: relative;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  z-index: 999;
}

.modal-content {
  text-align: left;
  max-height: 80vh; /* ограничиваем высоту, чтобы появилась прокрутка */
  overflow-y: auto;
  padding-right: 10px; /* чтобы скролл не наслаивался на текст */
}

.modal.hidden, .modal-overlay.hidden {
  display: none;
}

.hidden {
  display: none;
}

.close-btn {
  display: block;
  margin: 20px auto 0; /* сверху 20px, по центру, снизу 0 */
  margin-top: 16px;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: rgb(127, 255, 212);
  transition: background-color 0.3s, color 0.3s;
}


@media (max-width: 500px) {
  .modal h1 {
    font-size: 40px;
  }

  .modal h2 {
    font-size: 22px;
  }

  .text-imp {
    margin: 5px;
    padding: 0px;
    width: auto;
  }

  .modal {
    width: 94%;
    padding-top: 24;
    padding: 14px;
    margin: 0px;
    position: fixed;
    z-index: 1000;
  }

  .modal-content {
    text-align: left;
    max-height: 80vh; 
    overflow-y: 50vh;
    padding-right: 10px; 
    padding-top: 20px;
  }

  .close-btn {
    display: block;
    margin: 20px auto 0; /* сверху 20px, по центру, снизу 0 */
    margin-top: 16px;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
  }

}