*,
*::before,
*::after {
  box-sizing: border-box;
}

.cookie-banner {
  position: fixed;
  bottom: -100px; /* стартовая позиция для анимации */
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 950px;
  background: rgba(0, 0, 0, 0.615);
  color: aquamarine;
  padding: 15px 25px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -4px 14px rgba(0,0,0,0.3);
  z-index: 10000;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  opacity: 0;
  transition: bottom 0.5s ease, opacity 0.5s ease;
}

.cook {
  text-align: center;
}

.cookie-banner.show {
  bottom: 0px;
  opacity: 1;
}

.cookie-banner a {
  color: aquamarine;
  text-decoration: underline;
}

.cookie-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.cookie-buttons button {
  /* margin-left: 10px; */
  padding: 8px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  /* font-weight: 500; */
  font-size: 16px;
  transition: 0.3s;
}

#accept-cookies {
  background: purple;
  border: solid 2px aquamarine;
  color: aquamarine;
}

#accept-cookies:hover {
  background: #00c48f;
}

#reject-cookies {
  background: transparent;
  color: aquamarine;
  border: 2px solid aquamarine;
}

#reject-cookies:hover {
  background: red;
}

@media (max-width: 1000px) {
  .cookie-banner {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .cookie-buttons {
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .cookie-banner {
    width: 80%;
    padding: 10px 15px;
  }

  .cook {
    width: 100%;
  }

  .cookie-buttons button {
    font-size: smaller;
  }
}
