.keller {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;
  border-bottom: 0;
}

.keller-cell {
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}

.keller-text {
  color: aquamarine;
}

.keller-text a {
  color: aquamarine;
  text-decoration: none;
}

#email-address {
  margin-right: 100px;
}

.row-keller {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  justify-items: center;
  gap: 100px;
}

#scrollTopBtn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
  transform: scale(0);
  transition: transform 0.2s ease;
  z-index: 999;
  background-color: aquamarine;
}

@media (max-width: 850px) {
  .row-keller {
    display: inline;
    height: auto;
    width: 100%;
  }

  .keller-text {
    text-align: center;
  }

  #scrollTopBtn {
    display: block;
  }

  #email-address {
    margin-right: 0px;
  }
}

@media (max-width: 500px) {
  .row-keller {
    font-size: smaller;
  }

  #email-address {
  margin-right: 0px;
  }
}
