.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.losgeht {
  background-color: black;
  border: 2px solid aquamarine;
  color: aquamarine;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
}

.losgeht:hover {
  background: linear-gradient(60deg, #9eb300 0%, aquamarine 100%);
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.logo {
  font-size: 30px;
  color: aquamarine;
  text-decoration: none;
}

.menu-item a {
  font-size: 20px;
  text-decoration: none;
  color: aquamarine;
  display: flex;
  text-align: center;
}

.drop {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  position: relative;
}

.logo-place {
  margin-left: 20px;
}

.menu-item {
  width: auto;
  justify-items: center;
  display: flex;
  gap: 50px;
}

.burger {
  display: none;
}

.nav-cta {
  margin-right: 20px;
  text-align: right;
}

.lang-switch {
  display: flex;
  text-align: center;
  gap: 8px;
  justify-content: center;
  margin: 20px 0;
}

.lang-switch button {
  padding: 6px 14px;
  border: 2px solid aquamarine;
  background: transparent;
  color: aquamarine;
  border-radius: 12px;
  font-family: "Outfit", sans-serif;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.7;
}

.lang-switch button.active {
  opacity: 1;
  background: aquamarine;
  color: black;
  font-weight: 600;
}

.lang-switch button:hover {
  opacity: 1;
  transform: translateY(-2px);
}

.lang-switch2 {
  display: none;
}

.lang-btn {
  padding: 6px 14px;
  border: 2px solid aquamarine;
  background: aquamarine;
  color: black;
  border-radius: 12px;
  font-family: "Outfit", sans-serif;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

.lang-btn button:hover {
  opacity: 1;
  transform: translateY(-2px);
}

@media (max-width: 1100px) {
  .logo-place {
    width: auto;
  }

  .logo {
    margin: 10px;
    margin-left: 0;
  }

  .menu-item {
    gap: 30px;
  }

  .nav-cta {
    display: none;
  }
}


@media (max-width: 800px) {
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 32px;
    background: none;
    cursor: pointer;
    z-index: 10;
    position: relative;
  }

  .burger span {
    display: block;
    height: 3px;
    width: 100%;
    background: aquamarine;
    border-radius: 2px;
  }

  .menu-item {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: black;
    top: 100%;
    right: 0;
    z-index: 10;
    padding: 20px;
  }

  .cheeseburger.open .menu-item {
    display: flex;
  }
  
  .menu-item a {
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .lang-switch2 {
    display: block;
    margin-left: auto;
    margin-right: 20px;
  }

  .logo {
    font-size: 25px;
  }

  .lang-switch {
    display: none;
  }
}
