.prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 50px;
  background: linear-gradient(78deg, #40a04b 0%, #4852db 100%);
  color: #ffffff;
  border-radius: 30px;
  text-align: center;
  height: 100%;
}

.row-prices {
  display: flex;
  text-align: center;
  align-items: center;
  justify-items: center;
  height: 100%;
  gap: 50px;
}

.row-prices h1 {
  font-size: 70px;
  background: linear-gradient(60deg, aquamarine 0%, #9eb300 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-top: 0;
}

#price-view {
  margin: 40px;
}

.zagolovok {
  font-size: 50px;
  color: aquamarine;
  margin: 0;
  padding: 0;
}

.most-popular {
  height: 25px;
  border: solid 0.5px transparent;
}

#thebest {
  background: linear-gradient(60deg, aquamarine 0%, #9eb300 100%);
  color: white;
}

.a {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: solid 0.5px transparent;
}

.b {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: solid 0.5px transparent;
}

.c {
  height: 185px;
  margin-top: 30px;
  border: solid 0.5px transparent;
}

.d {
  height: 100px;
  border: solid 0.5px transparent;
}

.d h1 {
  margin: 0;
  padding: 0;
  align-items: center;
}

.e {
  height: 90px;
  border: solid 0.5px transparent;
}

.notice {
  height: 25px;
  font-size: smaller;
  color: white;
  align-content: center;
  background-color: #ac228a;
  border: solid 0.5px transparent;
}

.most-popular,
.a,
.b,
.c,
.d,
.e,
.notice {
  padding: 0;
  margin: 0;
}

.prices-slot {
  background-color: rgba(255, 255, 255, 0.929);
  border: 1px solid rgba(128, 128, 128, 0.462);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  color: #ac228a;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 50px;
  font-size: 18px;
  cursor: auto;
  margin-top: 0px;
  width: 350px;
  height: 510px;
  justify-content: center;
  align-items: center;
}

.packet {
  color: #ac228a;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.price-list {
  text-align: left;
  margin-top: 10px;
  font-size: smaller;
}

.prices-slot.active {
  border: 4px solid #ac228a;
  background-color: white;
  color: white;
  background-color: #ac228a;
  border: 2px solid white;
  cursor: auto;
}

.prices-slot.active .packet {
  color: white;
}

.prices-slot.active .cta1 {
  background-color: #ac228a;
  color: #ac228a;
}

.prices-slot.active h3 {
  color: white;
}

.prices-slot.active ul li::before {
  color: white;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 20px;
}

ul li::before {
  content: "✓";
  /* можно заменить на "✔" или "☑" */
  margin-right: 8px;
  /* отступ между галочкой и текстом */
  color: #ac228a;
  /* цвет галочки */
}

.cta1 {
  background-color: #ffffff00;
  border: 2px solid #ac228a;
  color: #ac228a;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.cta1:hover {
  background-color: #ac228a;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.domain-hosting {
  color: aquamarine;
  margin-top: 20px;
}

@media (max-width: 1250px) {
  .row-prices {
    display: flex;
    height: auto;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .prices-slot {
    max-width: 85%;
  }

  #price-view h1 {
    font-size: 50px;
  }

  .d h1 {
    font-size: 50px;
  }

  .row-prices h3 {
    font-size: 22px;
  }

  #price-view h1 {
    font-size: 35px;
  }

  .cta1 {
    font-size: 16px;
  }

  .notice {
    font-size: 12px;
  }
}


@media (max-width: 500px) {
  .prices-slot {
    max-width: 80%;
  }
  .b {
    font-size: 14px;
  }

  .c {
    font-size: 14px;
  }

  ul {
    padding: 20px;
  }

}

@media (max-width: 350px) {
  .prices-slot {
    max-width: 75%;
  }
}
